<div class="container w-100">

   <div class="row w-100 mt-5">
    <div class="col-md-12">
        <h1 class="text-monospace text-center"> Sejam muito bem vindex ao meu Blog Pessoal!!!</h1>
    </div>
   </div>

   <div class="row w-100 mt-4 mb-4">
       <div class="col-md-12">
           <p class="text-justify text-monospace">
       Olá! Esse é o meu blog pessoal, onde você poderá ver o que eu aprendi e coloquei em prática no bootcamp 
       que tive o imenso previlégio de participar. E o mais especial disso tudo é que com a tecnologia sei o 
       potencial e a oportunidade de fazer algo diferente pra marca a minha geração e usar essa ferramenta para contribuir para
       um bem maior que pode ir além de um fazer Website ou um programa. 
           </p>
       </div>
   </div>
   </div>

   <div class="parallax"></div>

   <div class="row w-100 mt-5 mb-5">
       <div class="col-md-12 w-100 d-flex justify-content-center">
        <button class="btn btn-outline-dark text-uppercase font-weight-bold" 
        routerLink='/interacao'>Ir para interação</button>
       </div>
   </div>


