<div class="container w-100">

   <div class="row w-100 mt-5">
    <div class="col-md-12">
        <h1 class="text-monospace text-center"> Sejam muito bem vindex ao meu Blog Pessoal!!!</h1>
    </div>
   </div>

   <div class="row w-100 mt-4 mb-4">
       <div class="col-md-12">
           <p class="text-justify text-monospace">
               Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia accusamus quibusdam dignissimos soluta repudiandae 
               iusto, dicta, eum et deleniti deserunt totam unde sed velit rem quaerat alias quae voluptate dolorem.
               Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusantium quod quo porro laboriosam mollitia enim commodiinventore
               error veritatis voluptatum quaerat expedita fugiat quis doloremque doloribus vel sapiente ad facilis?
               Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti qui illum quasi voluptatibus. Sint distinctio dicta 
               ed dolores vel, exercitationem et cumque autem illum eius voluptate temporibus impedit expedita quaerat!
           </p>
       </div>
   </div>
   </div>

   <div class="parallax"></div>

   <div class="row w-100 mt-5 mb-5">
       <div class="col-md-12 w-100 d-flex justify-content-center">
        <button class="btn btn-outline-dark text-uppercase font-weight-bold" 
        routerLink='/interacao'>Ir para interação</button>
       </div>
   </div>


