<div class="card border-0" style="width: 18rem;">
    <div class="d-flex justify-content-center">
        <img class="card-img-top rounded-circle w-60" src="https://lh3.googleusercontent.com/-k12rDLuAfdE/XpzXOGN3VgI/AAAAAAAAACA/ZOFogDFswhskONHeRq5KQWjK_zLnYqmywCEwYBhgLKtQDAL1Ocqy24IyCjYHucn6CGGzepz95tcdRw4Dx00mol08gENhQApHrZQQSt51igE3enHUWX-gjpZw_qujxfiO7rrGYq_QQR6XJBz2UOO2bJ8u7VbatWRgI6lbt86jVRAh1yX8HXuGEZeoAwCIrA84rP7sak2_gPgj6B9O-XQ5uE24fdYKCj36_lpGrffB0qNF8xk9O8_Y9tmRLPxsO_mMNyB4WPKlNTkiUtA0s67b4G4FY-etssIwzT7A5e5deDBCgj_WMD5Br3aEcmRacAVjsTBroiR37-oO8Otsbe-g1UOUIzQCKrN23o00WZdj1ztxBlbRpWq5qoHiIT8c4Bvf0jKeyqBTJYnyScnC8NFNqvFUfOLDJfc5nilqs6gi8o-nrsTmQX0uvgBdJKaQTTM6YABfa1buZyZGmVW94E0nYTO9toA18HBo9sRybRJq-gtDqtmQTrzyxnhehcHzGTOTCeVQ6zGODDRv8Zk4gP00Uh-_suDu-Z7nHeZLEWDVokL4G9LZGJccwj5HLTUgoCWO4JiNQD8qH-EcBjPH8ISHOfS-QKeXKOAy21TlUM978Bc2Y373xcsjY4-V8RrXgYUa0Lr5-4rdvA3baVW3s7BSvvAHype4tMN7G8fwF/w140-h140-p/2020-04-19.jpg" 
        alt="Imagem de capa do card">
    </div>
   
    <div class="card-body">
      <h5 class="card-title text-center text-monospace">Matheus Jesus</h5>
      <p class="card-text text-center text-monospace">Desenvolvedor JAVA jr Web full stack</p>

      <a  href="https://br.linkedin.com/" class="btn btn-outline-info m-3 d-flex justify-content-center" target="_blank">Lindekin</a>

      <a href="https://github.com/mjfo1910" class="btn btn-outline-dark m-3 d-flex justify-content-center" target="_blank">Github</a>

    </div>
  </div>
